@tailwind base;
@tailwind components;
@tailwind utilities;

.span1,
.span2,
.span3,
.span4 {
  position: absolute;
  display: block;
}

.span1 {
  height: 5px;
  width: 200px;
  top: 0;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #dfcc00);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}

.span2 {
  height: 70px;
  width: 5px;
  top: -70px;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #dfcc00);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}

@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}

.span3 {
  height: 5px;
  width: 200px;
  right: -200px;
  bottom: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #dfcc00);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}

@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

.span4 {
  height: 70px;
  width: 5px;
  bottom: -70px;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #dfcc00);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}

@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

.btn:hover .span1,
.btn:hover .span2,
.btn:hover .span3,
.btn:hover .span4 {
  animation-play-state: paused;
}
